<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FastBox</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/fastbox delivery.png' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/fastbox delivery.png' %}" alt="">
        <h1>FastBox</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li class="dropdown text-white"><a><span>Grow with us</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'dealerForm' %}">Become a Dealer</a></li>
              <li><a href="{% url 'dealerLogin' %}">Dealer Login</a></li>
              <li><a href="{% url 'businessForm' %}">Business Query</a></li>
            </ul>
          </li>

          {% if user.is_authenticated %}
          {% if request.user.groups.all.0.name == 'dealer' %}
          <li><a class="get-a-quote dropdown" href="{% url 'dashboard' %}">Dealer Profile<i class="bi bi-person-circle"
                style="font-size: x-large;"></i></a></li>
          {% else %}
          <li><a class="get-a-quote dropdown" href="{% url 'dashboard' %}">{{request.user}}&nbsp;&nbsp;
              {% if userp.picture %}
              <img src="{{userp.picture}}" alt="Profile" class="rounded-circle" width="30px">
              {% else %}
              <img src="{% static 'img/person-circle.svg' %}" alt="Profile" class="rounded-circle">
              {% endif %}
              <!-- <i class="bi bi-person-circle" style="font-size: x-large;"></i> -->
            </a></li>
          {% endif %}
          {% else %}
          <li><a class="get-a-quote" href="{% url 'login' %}">Sign Up/Log In<i class="bi bi-person-circle"
                style="font-size: x-large;"></i></a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->